[submodule "sampleSubModule2"]
	path = sampleSubModule2
	url = https://github.com/lalithkumarlk/sampleSubModule2.git
[submodule "subModule1"]
	path = subModule1
	url = https://github.com/lalithkumarlk/sampleSubModule1.git
	branch = dev
